trigger:
  - master

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'


jobs:
  - job: Linux
    pool:
      vmImage: 'ubuntu-latest'

    steps:
      - task: NuGetToolInstaller@1

      - task: NuGetCommand@2
        inputs:
          restoreSolution: '$(solution)'

      - task: DotNetCoreCLI@2
        inputs:
          command: 'build'
          projects: '$(solution)'

      - task: DotNetCoreCLI@2
        inputs:
          command: 'test'

  - job: Windows
    pool:
      vmImage: 'windows-latest'
    steps:
      - task: NuGetToolInstaller@1

      - task: NuGetCommand@2
        inputs:
          restoreSolution: '$(solution)'

      - task: VSBuild@1
        inputs:
          solution: '$(solution)'
          platform: '$(buildPlatform)'
          configuration: '$(buildConfiguration)'

      - task: VSTest@2
        inputs:
          platform: '$(buildPlatform)'
          configuration: '$(buildConfiguration)'